body
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parent-circle
{
  position: relative;
  width: 20vw;
  height: 20vw;
  border: 0.4vw solid rgba(0, 0, 0, 0.4);
  border-radius: (50/16)rem;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  animation: rotate 7s infinite linear;
}

.circle
{
  display: block;
  position: absolute;
  width: (16/16)rem;
  height: (16/16)rem;
  margin: (-8/16)rem;
  border-radius: (50/16)rem;
  top: (50/16)rem;
  left: (50/16)rem;
}

.blue
{
  background-color: #416ba9;
  transform: translate(10vw);
}

.pink
{
  background-color: #e6427a;
  transform: rotate(72deg) translate(10vw) rotate(-72deg);
}

.lime
{
  background-color: #cddb00;
  transform: rotate(72deg * 2) translate(10vw) rotate(-72deg * 2);
}

.orange
{
  background-color: #e0592a;
  transform: rotate(72deg * 3) translate(10vw) rotate(-72deg * 3);
}

.teal
{
  background-color: #57b6b2;
  transform: rotate(72deg * 4) translate(10vw) rotate(-72deg * 4);
}


@-webkit-keyframes rotate
{
  from
  {
    -webkit-transform: rotate(0deg);
  }

  to
  {
    -webkit-transform: rotate(359deg);
  }
}