.platform-card{
    // CONVERTED TO TAILWIND:
    // margin: 1rem;
    // width: 10rem;
    // height:4rem;
    // position:relative;
    // border: 1px solid rgb(241, 239, 239);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    // background: #FFFFFF;
    // border-radius: 8px;

    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(213, 213, 213, 0.779);
    cursor: pointer;

    /* From https://css.glass */
    // background: rgba(0, 0, 0, 0.27);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(11.6px);
    // -webkit-backdrop-filter: blur(11.6px);
    // border: 1px solid rgba(0, 0, 0, 0.13);
    img{
        width:100%;
        height:100%;
        // opacity: .3;
        position:absolute;
        z-index: 1;
    }
    .title{
        // font-size: ;
        position: relative;
        z-index: 2;
        font-family: 'Fira Code', monospace;
        text-decoration: none;
        text-align: center;
        color: black;
    }

}