@import '../sass/abstract/variable';

.homepage {
    padding: 0 1%;
  }

.siteDesc{
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(29, 60, 221, 0.15);
    padding: 5% 5%;
    font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
    
    hr {
        margin: 20px 0;
     }
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer{
    padding: 20px;
}

.platform_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.contributor_section{
    background-color: #2b3a55;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    
    @include tablet {
        flex-direction: column;
        height: 35vh;
    }

    .desc{
        color: white;
    }
    // width
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
        margin-block: 0.2rem;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #62b6b7; 
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #439a97; 
    }
    @supports (scrollbar-color:red blue){
        *{
            scrollbar-color:#62b6b7 #439a97;
        }
    }


    .contributors_wrapper{
        background-color: #181d31;
        padding: 20px;
        height: 31rem;
        width: 28rem;
        overflow-y: scroll;
        border-radius: 10px;

        @include mobile-l {
            width: 20rem;
        }

        @include mobile-s {
            width: 17.4rem;
        }
    }
}
