.card{
    margin: 5px;
    padding: 25px;
    background-color: rgb(154, 177, 197);
    width: 30%;
    // position: absolute;
    // width: 324px;
    // height: 100px;
    // left: calc(50% - 324px/2 - 390px);
    // top: calc(50% - 100px/2 - 96.5px);

    background: #ffffff;
    // box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
